<div id="postspan">
  <%= image_tag Asset.url_for('events') %>
</div>

<div class="subtitle">
  <h2>Calendar</h2>
</div>

<div class="container">
  <iframe id="calendar_embed" src="<%= @cal_url %>" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
