<div id="postspan">
  <%= image_tag 'postspan.png' %>
</div>

<div class="subtitle">
  <h2>Calendar</h2>
</div>

<div class="container">
  <iframe src="<%= calendar_embed_path %>" id="calendar_embed"></iframe>
</div>