<p><%= @subscription.name %> (<%= @subscription.email %>) has newly subscribed to the MIT Women Business Leaders' mailing list. </p>
<p>The current number of subscribers is <%= @count %>. </p>
<p class="time"><%= @time %></p>