<div id="postspan">
  <%= image_tag 'postspan.png' %>
</div>

<div class="subtitle">
  <h2><%= @event.title %></h2>
</div>

<div class="container post-container">
  <p><%= @event.description %></p>
</div>