<div id="intro_span">
  <%= image_tag 'homespan.png', id: 'homespan' %>
  <div id="intro_overlay">
    <h1>MIT's Women Business Leaders</h1>
    <p class="mission">Here goes the mission statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <i class="fa fa-3x fa-arrow-circle-down"></i>
    <p>Learn More</p>
  </div>
</div>

<!-- Exec showcase -->
<div id="exec_showcase_title">
  <h2>Our Exec Board</h2>
</div>
<div class="container" id="exec_showcase">
  <!-- <h2>Our Exec Board</h2> -->
  <% 0.upto(@exec_board.size - 1) do |i| %>
    <% is_empty = @exec_board[i][:name].nil? %>
    <div class="exec-box <%= 'placeholder' if is_empty %>">
      <% unless is_empty %>
        <img src="http://fakeimg.pl/120/">
        <p class="nameline">
          <span class="name"><%= @exec_board[i][:name] %></span>,
          <span class="position"><%= @exec_board[i][:position] %></span>
        </p>
      <% end %>
    </div>
  <% end %>
</div>