<div id="intro_span">
  <%= image_tag 'homespan.png', id: 'homespan' %>
  <div id="intro_overlay">
    <h1>MIT's Women Business Leaders</h1>
    <p class="mission">Here goes the mission statement. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <i class="fa fa-3x fa-arrow-circle-down"></i>
    <p>Learn More</p>
  </div>
</div>