<div class="pagespan" id="homespan">
  <%= image_tag 'homespan.jpg', id: 'homespan' %>
  <div class="overlay">
    <h1>MIT's Women Business Leaders</h1>
    <p class="mission">MIT Women Business Leaders establishes a network of women undergraduates, faculty, alumnae and professionals to empower women in their business endeavors and support them in the development of their careers. We support our members in their personal and professional pursuits during and after their years at MIT. </p>
    <i class="fa fa-3x fa-arrow-circle-down"></i>
    <p>Learn More</p>
  </div>
</div>

<!-- Exec showcase -->
<div class="subtitle">
  <h2>Our Exec Board</h2>
</div>

<%= render 'member_showcase', members: @exec_board %>
