<div id="postspan">
  <%= image_tag Asset.url_for('leadership') %>
</div>

<div class="subtitle">
  <h2>Our Exec Board</h2>
</div>

<%= render 'member_showcase', members: @exec_board %>

<div class="subtitle">
  <h2>Our General Board</h2>
</div>

<% Department.find_each do |d| %>
  <h3><%= d.name %></h3>

  <%= render 'member_showcase', members: d.members %>
<% end %>