<h2>Contact Us</h2>

<p>For <em>students</em> interested in learning more about WBL or being added to one of our mailing lists, reach our Internal Relations Department at <a href="mailto:WBL-IR@mit.edu">WBL-IR@mit.edu</a>.</p>

<p>For <em>student organizations</em> interested in hosting joint events, reach us at our Internal Relations Department at <a href="mailto:WBL-IR@mit.edu">WBL-IR@mit.edu</a>.</p>

<p>Current or prospective <em>sponsors</em> can reach our Corporate Relations Department at WBL-CR[at]mit.edu.</p>

<p>To provide information to be considered to be added to our weekly Corporate Relations Digests, reach <a href="mailto:WBL-digest-contributions@mit.edu">WBL-digest-contributions@mit.edu</a>.</p>

<p>Alumni of WBL who are interested in reaching us or receiving monthly newsletters can reach our Internal Relations Department at <a href="mailto:WBL-IR@mit.edu">WBL-IR@mit.edu</a>.</p>
