<div id="postspan">
  <%= image_tag 'postspan.png' %>
  <!-- <div id="postspan_overlay"></div> -->
</div>

<div class="subtitle">
  <h2>Introduction</h2>
</div>

<div class="container post-container">
  <p>Women Business Leaders is MIT’s largest undergraduate diversity business club. Founded in 2005, WBL (previously NSUW) aims to bring learning, collaboration and professional-development opportunities to undergraduate women through professional events, mentorship, and business education seminars. Our largest events include WBL Week, a weeklong series of interactive professional information sessions highlighting multiple industries, Business Schools Talk, Women in Business Seminars, and a variety of student industry panels and talks. </p>

  <p>WBL is always open to new members and collaboration with corporations, non-profits, educational institutions and other groups. For more information, please reach out to us at <a href="mailto:wbl-exec@mit.edu">wbl-exec@mit.edu</a>. </p>

  <p>You may also go on to find out more about our <a href="#">mission</a> or learn about the <a href="#">executive board</a> behind the organization.</p>
</div>


<div class="subtitle">
  <h2>Letter from the Presidents</h2>
</div>

<div class="container post-container">
  <p>The MIT education prepares undergraduates to become top-notch analytical thinkers. MIT Women Business leaders strives to push talented women to use their reasoning skills, quantitative background, and creative thinking to approach business in an innovative way.</p>

  <p>As the leading diversity business club at MIT, WBL is dedicated to helping great women pursue business interests at the undergraduate level. We provide new and challenging leadership opportunities for members, organize educational and mentorship programs, and promote connections between undergraduates and alumni to foster personal and professional growth.</p>

  <p>Programming is modeled around our organization’s goals to:</p>

  <ul>
    <li>Push talented future leaders to grow</li>
    <li>Build and strengthen relationships amongst like-minded MIT women undergraduates</li>
    <li>Empower women to succeed as leaders in finance, consulting, technology, and entrepreneurship</li>
  </ul>

  <p>We hope you will join us in working towards these goals and welcome your questions and suggestions. Feel free to reach out to any of our executive board members about specific initiatives or to learn more about how to get involved in our organization.</p>

  <p>
    Hannah Barrett, Naina Mehta, and Jessica Yang <br>
    WBL Co-Presidents <br>
    <a href="mailto:wbl-pres@mit.edu">wbl-pres@mit.edu</a>
  </p>
</div>