@import 'variables';

// General

a {
  text-decoration: none;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

// Header

header {
  background-color: $cc-red;
  border-bottom: 1px solid #aaaaaa;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

#logo {
  height: 130px;
  margin: 30px 10px 20px;
}

nav {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: #aaaaaa;

  > ul {
    > li {
      position: relative;
    }

    li {
      list-style-type: none;
      text-decoration: none;
      display: inline;
      margin: 10px 5px;
      padding: 10px;

      &:hover {
        background-color: $cc-red-dark;
      }

      &.active {
        a {
          border-bottom: 2px #ffffff solid;
        }
      }

      &:hover.active {
        a {
          border-bottom: none;
        }
      }

      a {
        -webkit-text-size-adjust: 100%;
        font-size: 1em;
        color: white;
        font-weight: 300;
        padding: 5px 5px;
      }
    }

    li:hover ul.dropdown {
      display: block;
    }

    ul.dropdown {
      display: none;
      z-index: 1;
      position: absolute;
      top: 100%;
      left: 0;
      padding-left: 0;
      width: 250px;

      li {
        background-color: $cc-red-dark;
        display: block;
        margin: 0;

        &:hover {
          background-color: white;

          a {
            color: $cc-red;
          }
        }
      }
    }
  }
}

// Footer

#subscribe_panel {
  background-color: $cc-red;
  padding: 50px 0 40px ;
  overflow: auto;

  p {
    color: white;
    float: left;
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;

    .emph {
      font-weight: 600;
    }
  }

  #subscribe {
    margin-top: -6px;
    color: $cc-red;
    font-weight: 300;
    font-size: 1.2em;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-color: white;
    float: right;

    &:hover {
      background-color: $cc-red-dark;
      border-top: 6px solid $cc-red-dark;
      border-bottom: 6px solid $cc-red-dark;
      border-left: 10px solid $cc-red-dark;
      border-right: 10px solid $cc-red-dark;
      color: white;
    }
  }
}

#footer {
  background-color: $cc-red-dark;
  padding: 10px 0;

  p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
  }
}